@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
:root{
    --blue: #06837F;
    --lightblue: #02CECB;
    --white: #B4FFFF;
    --yellow: #FED811;
    --regular: 400;
    --light: 300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* img {
    width: 100%;
    height: auto;
  }
  
  body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--regular);
  }

  a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  main {
    width: 100%;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: center;
    padding: rem 0 8rem 0;
    background: var(--blue);
  }
  
  /** Menu */

  nav {
    width: 90%;
    height: 5rem;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 10px;
    width: 100%;
    
  }
  .btn__container{
    display: none;
  }
.box__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .menu .logo {
    width: 4.8rem;
  }
  a{
      color: var(--yellow);
  }
.menu .item{
    margin: 5px;
}
.item{
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

/*section 1/*/
.incio__section{
    background-color: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 8rem 2rem;
}
.img_scaloni{
width: 45% ;
}
.text__home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 55%;
    font-family: 'Poppins', sans-serif;
}
.box_home{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 65%;
    background-color:var(--blue);
    border-radius: 2rem;
    border: solid;
}
button{
    flex-direction: row;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
    margin: 20px;
    background-color: var(--yellow);
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    margin: 50px;
}
button a{
  color: white;
}
button:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5)
}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    margin: 20px;
}
h2{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    margin: 15px;
}
p{
    margin-top: 3rem;
}
.nosotros{
  margin: 0px;
  padding: 5rem 4rem;
  background-color: var(--white);
}
.contact{
  background-color: var(--blue);
  padding: 5rem 4rem;
}
.contact a{
  color: black;
}
.contact i{
  font-size: 60px; 
  color: black;
}
.card__container{
  display: flex;
  justify-content:center;
  align-items: center;
}
.card{
  margin: 30px;
  padding: 3rem 2rem 3rem 2rem;
  align-self: center;
  text-align: center;
  color: #FED811;
  background-color: #06837F;
}
.card__container i{
  font-size: 50px;
}


@media (min-width: 320px) and (max-width: 480px){
  .btn__container{
    display:block
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .menu .item{
    margin: 2px;
  }
  .box__item{
    order: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
  top: 80px;
  display: none;
  }
  .item{
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
   display: ;
  }
.input_check{
  display:none;
}
  .input_check:checked + .box__item{
    display: block;
  }
  /*arreglar menu responsive/*/
  .box_home{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    width: 22rem;
    justify-content: center;
    align-items: center;
    height: 20rem:;
    background-color:var(--blue);
    border-radius: 2rem;
    text-align: center;
}
h1{
  font-size: 25px;
  margin: 5px 8px;
  padding: 2px 0px 0px 15px;
}
h2{
  font-size: 20px;
  text-align: center;
}
p{
  margin-top: 13px;
}
.text__home{
  margin: 5px;
  height: auto;
  width: 10rem;
  flex-direction: column;
}
.incio__section{
  padding: 0;
  margin: 0px;
}
.btn__home{
  position: relative;
  flex-direction: row;
  width: 25rem;
  margin-left: 8rem;
}
.but_contact{
  margin-bottom: 0%;
  width: 120px;
  margin-right: -20px;
}
.but_info{
  margin-bottom: 0;
  width: 120px;
}
.scaloneta{
  width: 10rem;
  height: 10rem;
}
.card__container{
  flex-direction: column;
}
}